/*****hunter*****/
/* #hunter(headerhdmc0pmwml) #css starts  */
.headerhdmc0pmwml .logo{
    max-height: 40px
}
.headerhdmc0pmwml .navbar-light .navbar-nav .nav-link{
    font-weight: 500
}
.headerhdmc0pmwml .navbar-light .navbar-nav .nav-link:hover{
    color: #51BE78
}
.headerhdmc0pmwml .fab {
    font-size: larger
}
/* #hunter(headerhdmc0pmwml) #css ends  */
/*****hunter*****/

/*****babette*****/
 /* #babette(e54caba42c027d0f) #css starts  */
 .bannere54caba42c027d0f {
    padding: 2rem 0;
    margin-left: 25px
 }
 .bannere54caba42c027d0f .video_card>img {
    width: 1100px;
    border-radius: 10px
}
.bannere54caba42c027d0f .stroke { 
    -webkit-text-stroke-color: #51BE78
} 

.bannere54caba42c027d0f .video_card>.btn:hover {
    box-shadow: 0px 0px 0px 14px #51BE78
}

.bannere54caba42c027d0f .video_card>.btn:active {
    background: #51BE78
}

    .bannere54caba42c027d0f p{
        font-size: 20px
    }
/* #babette(e54caba42c027d0f) #css ends  */
/*****babette*****/

/*****campbell*****/
/* #campbell(campbelldy9djhgjfg) #css starts  */
.campbelldy9djhgjfg{
    padding: 2.5rem 0
}
.campbelldy9djhgjfg h1{
    font-size: 32px
}

/* #campbell(campbelldy9djhgjfg) #css ends  */
/*****campbell*****/

/*****felicity*****/
/* #felicity(felicityfr3poxt3ngm) #css starts */
.felicityfr3poxt3ngm h3{
    font-weight: 300;
    margin-top: 20px
  }
  .felicityfr3poxt3ngm .btn-primary{
    background-color: #51BE78;
    border-color: #51BE78;
    padding: 6px 24px;
    font-weight: 500;
    border-radius: 0px;
  }
  .felicityfr3poxt3ngm .btn-primary:not(:disabled):not(.disabled):active{
    background-color: #51BE78;
    border-color: #51BE78
  }
/* #felicity(felicityfr3poxt3ngm) #css starts */
/*****felicity*****/

/*****funtush*****/
/* #funtush(funtushftac0ssp3mu) #css starts  */
.funtushftac0ssp3mu{
    padding: 2.5rem 0
}
.funtushftac0ssp3mu h1{
    font-size: 32px;
    text-align: center
}
.funtushftac0ssp3mu .lead{
    font-size: 20px
}
.funtushftac0ssp3mu h3{
    text-align: center;
    margin-top: 15px
}
/* #funtush(funtushftac0ssp3mu) #css ends  */
/*****funtush*****/

/*****carker*****/
    /* #carker(carkerdqPJ3hYKx57rG1D) #css starts  */
    .carkerdqPJ3hYKx57rG1D {
        padding: 2.5rem 0
       }
       .carkerdqPJ3hYKx57rG1D .lead{
        font-size: 20px
       }  
    /* #carker(carkerdqPJ3hYKx57rG1D) #css ends  */
/*****carker*****/

/*****ted*****/
    /* #ted(testimonialprqwl7a4x8r) #css starts  */
    .testimonialprqwl7a4x8r {
        padding: 2.5rem 0
    }
    .testimonialprqwl7a4x8r h1{
        font-size: 32px
    }
    .testimonialprqwl7a4x8r strong{
        color: #51BE78
    }
    /* #ted(testimonialprqwl7a4x8r) #css ends  */
/*****ted*****/

/*****frankie*****/
    /* #frankie(frankiepo48kr6e3hi) #css starts  */
    .frankiepo48kr6e3hi{
        padding: 2.5rem 0
    }
    .frankiepo48kr6e3hi h1{
        font-size: 32px
    }
    .frankiepo48kr6e3hi a{
        font-size: 20px;
        color: #51BE78
    }
    .frankiepo48kr6e3hi a:hover {
        color: #51BE78
    }
    .frankiepo48kr6e3hi h3 {
        margin-top: 15px
    }
    /* #frankie(frankiepo48kr6e3hi) #css ends  */
/*****frankie*****/