:root {
    --brand-color: #32CCCC;
    --light-brand-color: #FF705E;
    --text-color:  #000000;
    --light-text-color: #7C7C7C;
    --alert-color:  #EDED00 ;
    --success-color: #67E500;
    --warning-color: #2539EA;
    --error-color: #EA0000;
    --black-color: #343434;
    --main-background-color : #f8f9fa;
    --light-background-color : #fbfbfb;
    --default-font : Roboto, sans-serif;
    --primary-font : Roboto Condensed, sans-serif;
    --secondary-font : Roboto, sans-serif;
    --thirdprimary-font : Roboto Mono, sans-serif;
}

/* Typography Starts here */
*,
html,
body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: var(--primary-font);
}

a {   
    color: var(--text-color);
}

a:hover {
    text-decoration: none;
    color: var(--text-color);
}

h1 {
    font-family: var(--primary-font);
    color: var(--brand-color);
    font-size: 4rem;
}
h2 {
    font-family: var(--primary-font);
    color: var(--brand-color);
    font-size: 2.8rem;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
}

h4 {
    font-size: 1rem;
    font-weight: 700;
}

h5 {
    font-size: 0.875rem;
}

h6 {
    font-size: 0.813rem;
    color: var(--text-color);
}

p {
    font-size: 1.2rem;
}

.emphasis {
    font-family: var(--brand-color);
    font-style: italic;
    color: var(--main-brand-color);
}

.constrain-width {
    max-width: 45rem;
    margin: 0 auto;
}

.pill-btn {
    border-radius: 499rem;
}

.rounded-corners {
    border-radius: .3rem;
}

.alt-background {
    background: var(--main-background-color);
}

.btn-primary,
.btn-outline-primary,
.btn-secondary,
.btn-outline-secondary,
.btn-white,
.btn-outline-white,
.btn-success,
.btn-outline-success,
.btn-info,
.btn-outline-info,
.btn-warning,
.btn-outline-warning,
.btn-danger,
.btn-outline-danger {
    font-size: 1rem;
    font-weight: 700;
    border-radius: .3rem;
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-white,
.btn-outline-success,
.btn-outline-info,
.btn-outline-warning,
.btn-outline-danger {
    border-width: .15rem;
}

.btn:focus{
    box-shadow: none;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    box-shadow: none;
}


.lead {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color)
}

@media(max-width: 767px) {
    .lead {
        font-size: 1.2rem      
    }
  }

/* Typography Ends here */  

/* #hadoc(f286c1a79615597b) #css starts */
.headerh222fa673a781ab9e .fa-shopping-cart{
    color: var(--brand-color);
    font-size: 22px
}
.headerh222fa673a781ab9e .fa-user-plus{
    color: var(--light-brand-color);
    font-size: 22px
}
.headerh222fa673a781ab9e .btn{
    font-weight: bold
}
/* #hadoc(f286c1a79615597b) #css ends */

/* #agni(cded716dce36a6e8) #css starts  */
.aboutcded716dce36a6e8 .DescriptionHeading {
    font-size: 50px
}

.aboutcded716dce36a6e8 .DescriptionPara {
    color: #808080;
    font-size: 18px
}

.aboutcded716dce36a6e8 .descriptionImage img{
    height: 400px;
    width: 500px
}
.aboutcded716dce36a6e8 .badge{
    color: #FF705E;
    background-color: #F5F0F7
}
.aboutcded716dce36a6e8 .searchBtn{
    background-color:#FF705E ;
    border-radius: 15px;
    color: white
}
.aboutcded716dce36a6e8 .searchBtn:hover{
    color: black
}
/* #agni(cded716dce36a6e8) #css ends  */

/* #ben(f4d36302323992b2) #css starts  */
.bannerf4d36302323992b2 .button {
        background-color: var(--light-brand-color) 
    }

.bannerf4d36302323992b2 .button:hover {
        color: rgb(255, 255, 255)
    }
/* #ben(f4d36302323992b2) #css ends  */

/* #pencil(p48b0eae471185cc5) #css starts  */
.productsp48b0eae471185cc5 .imgStyle{
    border: 5px solid #33CCCC; 
    padding: 20px;
    height: 600px;
    width:1000px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 25px
}
.productsp48b0eae471185cc5 .card-product .img-wrap {
        border-radius: 3px 3px 0 0;
        overflow: hidden;
        position: relative;
        text-align: center
}

.productsp48b0eae471185cc5 .card-product .img-wrap img {
        height: 100px;
        width: 100px
}

.productsp48b0eae471185cc5 .title {
        color: #33CCCC
}

.productsp48b0eae471185cc5 .card-product .info-wrap {
        overflow: hidden;
        padding: 15px
}

/* #pencil(p48b0eae471185cc5) #css ends  */

/* #quil(e6e365dd6b7c935a) #css starts  */
.quickLinke6e365dd6b7c935a .btn{
    font-weight: bold;
    margin: 11px
}
.quickLinke6e365dd6b7c935a .btn:hover{
    background-color: #FF6652;
    color: rgb(255, 255, 255)
}
.quickLinke6e365dd6b7c935a .hp{
 color: #130D43
}
/* #quil(e6e365dd6b7c935a) #css ends  */

    /* #pony(fd232222df02a491) #css starts  */
    .productsfd232222df02a491 .card-product .img-wrap {
        border-radius: 3px 3px 0 0;
        overflow: hidden;
        position: relative;
        height: 220px;
        text-align: center
    }

    .productsfd232222df02a491 .card-product .img-wrap img {
        height: 200px;
        width: 200px
    }

    .productsfd232222df02a491 .title {
        color: #33CCCC
    }

    .productsfd232222df02a491 .card-product .info-wrap {
        overflow: hidden;
        padding: 15px
    }

    .productsfd232222df02a491 .buttons {
        text-align: center;
        border-radius: 30px
    }

    .productsfd232222df02a491 .blob-btn {
        z-index: 1;
        position: relative;
        padding: 20px 46px;
        margin-bottom: 30px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        background-color: transparent;
        outline: none;
        border: none;
        transition: color 0.5s;
        cursor: pointer;
        border-radius: 30px
    }

    .productsfd232222df02a491 .blob-btn:before {
        content: "";
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #33CCCC;
        border-radius: 30px
    }

    .productsfd232222df02a491 .blob-btn:after {
        content: "";
        z-index: -2;
        position: absolute;
        left: 3px;
        top: 3px;
        width: 100%;
        height: 100%;
        transition: all 0.3s 0.2s;
        border-radius: 30px
    }

    .productsfd232222df02a491 .blob-btn:hover {
        color: #fff;
        border-radius: 30px
    }

    .productsfd232222df02a491 .blob-btn:hover:after {
        transition: all 0.3s;
        left: 0;
        top: 0;
        border-radius: 30px
    }

    .productsfd232222df02a491 .blob-btn__inner {
        z-index: -1;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        background: #fff
    }

    .productsfd232222df02a491 .blob-btn__blobs {
        position: relative;
        display: block;
        height: 100%;
        filter: url('#goo')
    }

    .productsfd232222df02a491 .blob-btn__blob {
        position: absolute;
        top: 2px;
        width: 25%;
        height: 100%;
        background: #33CCCC;
        border-radius: 100%;
        transform: translate3d(0, 150%, 0) scale(1.7);
        transition: transform 0.45s
    }

    @supports (filter: url('#goo')) {
        transform: translate3d(0, 150%, 0) scale(1.4)
    }

    .productsfd232222df02a491 .blob-btn__blob:nth-child(1) {
        left: 0%;
        transition-delay: 0s
    }

    .productsfd232222df02a491 .blob-btn__blob:nth-child(2) {
        left: 30%;
        transition-delay: 0.08s
    }

    .productsfd232222df02a491 .blob-btn__blob:nth-child(3) {
        left: 60%;
        transition-delay: 0.16s
    }

    .productsfd232222df02a491 .blob-btn__blob:nth-child(4) {
        left: 90%;
        transition-delay: 0.24s
    }

    .productsfd232222df02a491 .blob-btn:hover .blob-btn__blob {
        transform: translateZ(0) scale(1.7)
    }

    @supports (filter: url('#goo')) {
        transform: translateZ(0) scale(1.4)
    }

    /* #pony(fd232222df02a491) #css ends  */

/* #abbu(p3dce575962b3c369) #css starts  */
.aboutp3dce575962b3c369 .jumbotron{
    border-radius: 13px
}
.aboutp3dce575962b3c369 .DescriptionHeading {
        font-size: 40px;
        color: #0A033C
    }

    .aboutp3dce575962b3c369 .DescriptionPara {
        color: #0A033C;
        font-size: 18px
    }
    
    .aboutp3dce575962b3c369 .descriptionImage img{
        height: 400px;
        width: 500px
    }
    .aboutp3dce575962b3c369 .badge{
        color: var(--brand-color);
        background-color: #ebd4f5
    }
    .aboutp3dce575962b3c369 .searchBtn{
        background-color:#FF705E ;
        border-radius: 10px;
        color: white;
        font-weight: bold
    }
    .aboutp3dce575962b3c369 .searchBtn:hover{
        color: black
    }
/* #abbu(p3dce575962b3c369) #css ends  */

/* #agadu(bf5e9e9e7ee746db) #css starts  */
.aboutbf5e9e9e7ee746db .DescriptionHeading {
    font-size: 34px;
    color: #0A033C
}

.aboutbf5e9e9e7ee746db .DescriptionPara {
    color: #0A033C;
    font-size: 18px
}

.aboutbf5e9e9e7ee746db .descriptionImage img{
    height: 400px;
    width: 500px
}
.aboutbf5e9e9e7ee746db .searchBtn{
    background-color:#FF705E ;
    border-radius: 7px;
    color: white;
    font-weight: bold
}
.aboutbf5e9e9e7ee746db .searchBtn:hover{
    color: black
}
/* #agadu(bf5e9e9e7ee746db) #css ends  */

/* #quick(q50b1c56df5d4596e) #css starts  */
.queteq50b1c56df5d4596e .subscription.bg-white {
    background: none
}

.queteq50b1c56df5d4596e .bg-white {
    background-color: #fff
}

.queteq50b1c56df5d4596e .subscription.bg-white .subscription-wrapper {
    background: #fff
}

.queteq50b1c56df5d4596e .subscription-wrapper {
    border-radius: 0% 5% 10% 3%/10% 20% 0% 17%;
    -webkit-transform: perspective(1800px) rotateY(20deg) skewY(1deg) translateX(50px);
    transform: perspective(1800px) rotateY(20deg) skewY(1deg) translateX(50px);
    padding: 70px 50px;
    z-index: 1;
    width: 100%;
    background: linear-gradient(80deg, #0030cc 0%, #00a4db 100%);
    top:100px
}

.queteq50b1c56df5d4596e .subscription-wrapper {
    box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1)
}

.queteq50b1c56df5d4596e .subscription-content {
    -webkit-transform: skewY(-1deg);
    transform: skewY(-1deg)
}

.queteq50b1c56df5d4596e h3, 
.queteq50b1c56df5d4596e .h3 {
    font-size: 30px
}

.queteq50b1c56df5d4596e .flex-fill {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.queteq50b1c56df5d4596e .subscription.bg-white .form-control {
    border: 1px solid #ebebeb
}

.queteq50b1c56df5d4596e .subscription-wrapper .form-control {
    height: 60px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 45px
}

.queteq50b1c56df5d4596e .subscription-wrapper .form-control:focus {
    background: rgba(255, 255, 255, 0.1);
    outline: 0;
    box-shadow: none
}

.queteq50b1c56df5d4596e .btn:not(:disabled):not(.disabled) {
    cursor: pointer
}

.queteq50b1c56df5d4596e .btn-primary {
    border: 0;
    color: #fff
}

.queteq50b1c56df5d4596e .btn {
    font-size: 16px;
    text-transform: capitalize;
    padding: 18px 45px;
    border-radius: 45px;
    font-weight: 500;
    border: 1px solid;
    position: relative;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden
}

.queteq50b1c56df5d4596e .btn-primary:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 102%;
    height: 100%;
    background: linear-gradient(45deg, #32CCCC 0%, #02d1a1 100%);
    z-index: -1;
    transition: ease 0.3s
}
/* #quick(q50b1c56df5d4596e) #css ends  */

/* #fanta(f439c65adee997571) #css starts */

.footerf439c65adee997571 .footer-wrap {
    padding-top: 43px;
    background: white;
    background-size: cover
}

.footerf439c65adee997571 .footer-wrap h3 {
    color: #0A033C;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 25px
}

.footerf439c65adee997571 .footer-wrap p {
    font-size: 18px;
    line-height: 24px;
    margin-top: 15px
}

.footerf439c65adee997571 .footer-links li a {
    font-size: 16px;
    line-height: 30px;
    color: #0A033C;
    text-decoration: none
}

.footerf439c65adee997571 .footer-links li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #ccc
}

.footerf439c65adee997571 .footer-category li a {
    font-size: 16px;
    line-height: 30px;
    color: #0A033C;
    text-decoration: none
}

.footerf439c65adee997571 .footer-category li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #b3b3b3
}

.footerf439c65adee997571 .copyright {
    font-size: 18px;
    color: #0A033C;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    background: #F0F8FF
}

.footerf439c65adee997571 footer .first_class { 
    padding-bottom: 25px
}

.footerf439c65adee997571 footer {
    background: #333
}

.footerf439c65adee997571 ul {
    padding-left: 5px
}

.footerf439c65adee997571 footer li {
    list-style: none
}

@media(max-width:768px) {
    .footerf439c65adee997571 .footer-wrap h3 {
        margin-top: 27px
    }
}

@media(max-width:320px) {
    .footerf439c65adee997571 .copyright {
        font-size: 13px
    }
}
/* #fanta(f439c65adee997571) #css ends */